@font-face {
    font-family: PermanentMarker-Regular;
    src: url(Permanent_Marker/PermanentMarker-Regular.ttf);
}
.container{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: PermanentMarker-Regular, Arial, sans-serif;
    background-image: url("pexels-eberhardgross-691668.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black; /* optional */

}
    
.timer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 600px;
    position: center;
}
.timer{
    background-color: turquoise;
}
.box_1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: black;
}
.box_2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: black;
}
.box_3{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: black;
}
.box_4{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: black;
}
.heading{
    display: flex;
    justify-content: center;
    font-size: larger;
}

.form{
    display: flex;
    justify-content: center;
    font-size: medium;
}