.timer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box_1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
.box_2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
.box_3{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
.box_4{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}